<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FretOne</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <header>
        <h1 id="main-title"><a href="/">FretOne</a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/upload">Upload</a>
            <!-- <a href="/upload_db">DB</a> -->
        </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
        <p>&copy; 2022 - <a href="https://github.com/heloiseouvry">Heloise Ouvry</a></p>
    </footer>
</body>
</html>