{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Home</h2>
        <div class="container how_to_container">
            <h3>How to use</h3>
            <ul>
                <li>Go to <a href="/upload"><span class="italic">Upload</span></a> tab and select your file (.pdf or image).</li>
                <li>Click on <span class="italic">Translate</span> button</li>
                <li>Wait for the process...</li>
                <li>Once finished both images will appear</li>
                <li>Click on the <span class="italic">Translated</span> image to download it</li>
            </ul>
        </div>
    </div>
{% endblock %}
        
