{% extends "base.html" %}

{% block content %}
    <h1>Upload sheet</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.fileloader }}<br>
        </p>
        <input type="submit" value="Traduire">
        {% if form.fileloader.data %}        
            {% if os.path.isfile('./tmp/'+form.fileloader.data.filename.split(".")[0]+'_translated.jpg') %}
                <p><img src="./tmp/{{ form.fileloader.data.filename.split('.')[0] }}_translated.jpg" height="500px"/></p>
            {% else %}
                <p>La traduction de "{{ form.fileloader.data.filename }}" n'a pas fonctionné... :(</p>
            {% endif %}
        {% endif %}
    </form>
{% endblock %}